[submodule "libdb-dotnet"]
	path = libdb-dotnet
	url = https://github.com/HHACarvalho/libdb-dotnet
[submodule "libdb-svelte"]
	path = libdb-svelte
	url = https://github.com/HHACarvalho/libdb-svelte
[submodule "libdb-nodejs"]
	path = libdb-nodejs
	url = https://github.com/HHACarvalho/libdb-nodejs
